<%@cohorts.each do |c| %>
<ul> 
	<li><%=link_to c.name, cohort_path(c.id)%></li>
</ul>
<% end %>

<%= form_tag('/cohorts', method: 'POST') do %>
	<label>Create a new cohort </label>
	<input type="text" name='cohort[name]' value='<%=@cohort.name%>'> </input>
	<input type="submit" value="submit">
<%end%>